database_host=postgres
database_port=5432
database_name=desafio
database_user=postgres
database_password=postgres
secret=ThisTokenIsNotSoSecretChangeIt

PGADMIN_DEFAULT_EMAIL=postgres
PGADMIN_DEFAULT_PASSWORD=postgres


XDEBUG_CONFIG='zend_extension="/usr/lib/php7/modules/xdebug.so" remote_host=172.18.0.1 xdebug.remote_enable=1 xdebug.remote_autostart=1 xdebug.remote_handler=dbgp xdebug.remote_mode=req xdebug.remote_connect_back=0 xdebug.var_display_max_depth=-1 xdebug.var_display_max_children=-1 xdebug.var_display_max_data=-1 xdebug.remote_port=9001 xdebug.overload_var_dump=0'